.App {
  display: flex;
  flex-direction: column;
  background-color: #63ccff;
  color: #fff;
}

.todo-container {
  padding: 1em;
  overflow-y: auto;
}

.map-container {
  overflow: hidden; // prevents map from bleeding outside container

  @media screen and (max-width: 599px) {
    max-height: 50vh;
  }
}

// Mobile Responsive
// Default styles are for small screens
// Screens greater than 600px will flex to a row
@media screen and (min-width: 600px) {
  .App {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .todo-container {
    flex: 1 0 33%;
    max-height: 100vh;
  }

  .map-container {
    flex: 1 0 66%;
  }
}

// Filter Styles
.list__filter {
  margin: 0.5em 0;
}

.filter__label {
  margin-right: 0.5em;
}

// List Styles
.list-input {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0;
}

.list {
  list-style: none;
  padding: 0;
}

 .list-form {
  display: flex;
  flex-direction: column;
}

.list--parent {
  display: flex;
  flex-flow: row wrap;
  flex: 2 0 67%;
}

.list--parent > .list__item {
  border-radius: 0.5em;
  border: 1px solid #757575;
  background-color: #006db3;
  flex: 0 0 100%;
  margin: .5em;
  padding: 0.5em;
}

// Mobile List Styles
@media screen and (min-width: 600px) {
  .list--parent > .list__item {
    flex: 0 0 calc(50% - 1em);
    margin: 0.5em;
  } 
}

.btn-secondary {
  color: #fff;
  background-color: #757575;
  border-color: #757575;
}

//Map popup styles
.mapboxgl-popup-content {
  position: relative;
  background: #63ccff;
  border: 3px #757575 solid;
  border-radius: .5em;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  padding: 10px 10px 15px;
  pointer-events: auto;
}


.list__item--child__checkbox {
  display: inline-block;
  margin-right: 0.5em;
}

// Error styles
.error-message {
  color: #f44336;
}